.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#google-c{
    color:#4285F4;
}

#google-s{
    color:#DB4437;
}

#google-4{
    color:	#F4B400;
}

#google-3{
    color:	#4285F4;
}

#google-0-1{
    color:	#0F9D58;
}

#google-0-2{
    color:#DB4437;
}

.google-colors{
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1{
    margin-bottom: 0;
    margin-right: 3px;
}
.input-box {
    position: relative; 
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 600px;
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box{
    width: 700px;
    margin-top:50px; 
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%; 
    left: 0;
    right: 0;
    width: 100%; 
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;

}

.checkbox-container label {
    margin-bottom: 5px; 
    display: block; 
}

#allergyOptions, #ingredientsOptions {
    margin-top: 5px;
}


