<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="google-4">S</h1>
                <h1 id="google-3">n</h1>
                <h1 id="google-0-1">a</h1>
                <h1 id="google-0-2">c</h1>
                <h1 id="google-4">k</h1>
                <h1 id="google-3">S</h1>
                <h1 id="google-0-1">u</h1>
                <h1 id="google-0-2">r</h1>
                <h1 id="google-4">f</h1>
                <h1 id="google-3">e</h1>
                <h1 id="google-0-1">r</h1>
            </div>
            <div class="top-section">
                <div class="input-box" onclick="sendFocus()">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="Search for your snack" id="filter-text-val" onkeyup="filterText()">
                    <div id="autocomplete-list" class="autocomplete-items"></div>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-group" id="allergies-group">
                        <label><input type="checkbox" id="allergiesCheckbox" onclick="toggleAllergies()"> Allergies?</label>
                        <div id="allergyOptions" style="display:none; margin-left:20px;">
                            <label><input type="checkbox" name="allergies" value="nuts" onchange="filterAllergies()""> Nuts</label>
                            <label><input type="checkbox" name="allergies" value="dairy" onchange="filterAllergies()"> Dairy</label>
                            <label><input type="checkbox" name="allergies" value="gluten" onchange="filterAllergies()"> Gluten</label>
                        </div>
                    </div>
                    <div class="checkbox-group" id="ingredients-group">
                        <label><input type="checkbox" id="ingredientsCheckbox" onclick="toggleIngredients()"> Preferred Ingredients?</label>
                        <div id="ingredientsOptions" style="display:none; margin-left:20px;">
                            <label><input type="checkbox" name="ingredients" value="chocolate" onchange="filterIngredients()"> Chocolate</label>
                            <label><input type="checkbox" name="ingredients" value="cheese" onchange="filterIngredients()"> Cheese</label>
                            <label><input type="checkbox" name="ingredients" value="spice" onchange="filterIngredients()"> Spicy Flavoring</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(id, title,rating, price, ingredients,img){
            return `<div class=''>
                <h3>${title}</h3>
                <img src="${img}">
                <p>Rating: ${rating}</p>
                <p>ID: ${id}</p>
                <p>Price: ${price}</p>
                <p>Ingredients: ${ingredients}</p>
                
            <hr>
            </div>`
        }


        function toggleAllergies() {
            var checkBox = document.getElementById("allergiesCheckbox")
            var allergiesOptions = document.getElementById("allergyOptions");
            
            if (checkBox.checked) {
                allergiesOptions.style.display = "block"
            } else {
                allergiesOptions.style.display = "none"
            }
        }

        function filterAllergies() {
            var title = document.getElementById('filter-text-val').value;
            selectTitle(title);  
        }
        function filterIngredients() {
            var title = document.getElementById('filter-text-val').value;
            selectTitle(title);  
        }

        function toggleIngredients() {
            var checkBox = document.getElementById("ingredientsCheckbox")
            var allergiesOptions = document.getElementById("ingredientsOptions");
            
            if (checkBox.checked) {
                ingredientsOptions.style.display = "block"
            } else {
                ingredientsOptions.style.display = "none"
            }
        }

        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            var input = document.getElementById("filter-text-val");
            var filter = input.value;
            var autocompleteList = document.getElementById("autocomplete-list");
            var preferIngr = document.getElementById("pref-ingrd")
            var answerBox = document.getElementById("answer-box");

            autocompleteList.innerHTML = "";

            if (!filter || filter.length === 1) {
                answerBox.innerHTML = "";
            }

            if (!filter) {
                return;
            }

            fetch(`/autocomplete?title=${filter}`)
                .then((response) => response.json())
                .then((suggestions) => {
                    suggestions.forEach(item => {
                        let suggestion = document.createElement("div");
                        suggestion.textContent = item.title;
                        suggestion.onclick = () => {
                            selectTitle(item.title);
                            input.value = item.title; 
                        };
                        autocompleteList.appendChild(suggestion);
                    });
                });
        }

        function selectTitle(title) {
            var selectedAllergies = Array.from(document.querySelectorAll('input[name="allergies"]:checked')).map(el => el.value);
            var selectedIngredients = Array.from(document.querySelectorAll('input[name="ingredients"]:checked')).map(el => el.value);
            var queryParams = new URLSearchParams({ title: title, allergies: selectedAllergies, preferred_ingredients: selectedIngredients });
            fetch(`/search?${queryParams}`)
                .then((response) => response.json())
                .then((data) => {
                    document.getElementById("answer-box").innerHTML = "";
                    data.forEach(row => {
                        let tempDiv = document.createElement("div");
                        tempDiv.innerHTML = answerBoxTemplate(row.id, row.title, row.rating, row.price, row.ingredients, row.image);
                        document.getElementById("answer-box").appendChild(tempDiv);
                    });
                    document.getElementById("autocomplete-list").innerHTML = ""; 
                });
        }


            
    </script>
</body>